In [16]:
name = "Chote Weerakul"

print (name)
print (name[6])
print (len(name))
print (name[:5])
print (name[6:])
print (name[6:9])
print (name[-8:-5])

Chote Weerakul
W
14
Chote
Weerakul
Wee
Wee

In [31]:
print (name.upper())
print (name.lower())
name2 = (name[5:])
print (name2)
print (name2.strip().upper())
name3 = (name2.replace("W","T").strip())
print(name3)

CHOTE WEERAKUL
chote weerakul
 Weerakul
WEERAKUL
Teerakul

In [37]:
name = "โชติ วีระกุล"
age = 22
information = "ชื่อ {} อายุ {} ปี"
print(information.format(name, age))

ชื่อ โชติ วีระกุล อายุ 22 ปี

In [39]:
information = "อายุ {1} ปี ชื่อ {0} "
print(information.format(name, age))

อายุ 22 ปี ชื่อ โชติ วีระกุล

In [41]:
information = "ชื่อ {n} อายุ {a} ปี"
print(information.format(n=name, a=age))

ชื่อ โชติ วีระกุล อายุ 22 ปี

In [44]:
age = 22
print("ชื่อ %s อายุ %d ปี" % (name, age))

ชื่อ โชติ วีระกุล อายุ 22 ปี

In [55]:
const = 3
dept = "ภาควิชาภูมิศาสตร์"
desc = f"ชื่อ {name} {dept} อายุ {age + const} ปี"
print(desc)

ชื่อ โชติ วีระกุล ภาควิชาภูมิศาสตร์ อายุ 25 ปี